@page
@model IndexModel
@{
    ViewBag.Title = "Welcome to Dutch Treat!";
}

<div class="row">
    <div class="col-md-9">
        <div class="product-info">
            <img src="img/VanGogh.jpg" />
            <h3>Mug</h3>
            <ul class="products-props">
                <li>Price: $9.99</li>
                <li>Artist: Van Gogh</li>
                <li>Title: </li>
                <li>Description: Self-portrait</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>
    </div>
</div>